* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.night {
    background-color: rgba(32, 30, 66, 0.911);
}

.label {
    background-color: black;
    display: flex;
    height: 30px;
    height: 30px;
    border-radius: 50px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 15px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border: 2px solid;
}

.label .fa-moon {
    color: rgb(250, 250, 250);
}

label .fa-sun {
    color: rgb(243, 188, 36);
}

.blob {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    background: rgb(218, 146, 146);
    border-radius: 50px;
    transition: .5s ease all;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.info {
    display: block;
    margin: 50px;
}

.info.night {
    color: white;
}

.checkbox:checked+.label .blob {
    left: 0;
}

.checkbox:checked+.label {
    background-color: rgb(151, 95, 76);
}